// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;

// Corporate Colors
$dark-blue: #2b6a8c;
$pink: #FF606B;

$dark-gray: #777171;
$gray: #aaa4a4;
$light-gray: #efeded;
