.booking-modal-cost {
  position: absolute;
  right: 21px;
  top: 16px;
}

.center-modal-box {
  top: 35vh;
}

.booking-checked {
  color: green;
}
.confirmation-address {
  font-size: 12px;
}
.confirmation-date {
  font-size: 14px;
  margin-top: 10px;
}
.text-center {
  margin-top: 17px;
}
