.booking-modal-cost {
  position: absolute;
  right: 10px;
  top: 10px;
}

.btn-confirm {
  background-color: $darker-pink;
  color: white;
}
.center-modal-box {
  top: 35vh;
}

.booking-checked {
  color: green;
}
