.container-devise {
  padding: 40px;
  width: 100vw;
  height: 100vh;
  background-color: white;
  h2 {
    font-size: 20px;
  }
  .sign-up-header {
    text-align: center;
  }
  .provider-signup {
    display: flex;

    margin: 15px 0px;
    .provider-button {
    width: 100%;
    background-color: blue;
    padding: 9px 27px;
    border-radius: 7px;
    background-color: rgb(59, 89, 152);
    color: white;
    }
  }
}
