.studio-owner {
  position: relative;
  width: 80px;
  a {
    width: 140px;
    position: absolute;
    right: 0px;
    bottom: 5px;
    left: 140px;
    top: 1px;
    font-size: 12px;
  }
}
.container-home {
  .not-logged-in-message {
    margin: 18px 0px 0px 0px;
  }
  h4 {
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,0.6);
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
    margin-bottom: 0;
  }
}
