// * {
//   border: 1px solid yellow;
// }
.body-profile {
  background-color: #345387;
  height: 100vh;
  padding: 30px 0px;
}
.no-padding {
  padding: 0 !important;
}
.profile-main-info {
  display:flex;
  justify-content:center;
  h1 {
  font-size: 30px;
  color: white;
  margin-bottom: 30px;
  margin-top: 10px;
  }
}

.avatar {
  border-radius: 50%;
}

.avatar-lg {
  margin-top: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}


.btn-photo {
  background-color: rgba(255,255,255,0.6);
  font-size: 13px;
  color: $dark-blue;
  padding: 5px 30px;
  border-radius: 5px;
  border: 1px solid $dark-blue;
  &:hover{
    background-color: $dark-blue;
    color: white;
  }
}

.profile-info {
  background-color: white;
  padding: 20px 30px;
  margin: 0px auto;
  h2 {
    font-size: 20px;
  }
}

.historical-bookings {
  display: flex;
  height: 60px;
  position: relative;
  align-items: center;
  padding: 0 10px 5px 10px;
  margin-top: 10px;
  border-bottom: 1px solid $dark-blue;
  border-radius: 5px;
  h2 {
    font-size: 17px;
    margin-bottom: 0;
  }
  &:hover {
    background-color: rgba(200, 200, 200, 0.5);
  }
  p {
    font-size: 1em;
  }
  .fa {
    position: absolute;
    right: 5%;
    bottom: 20%;
    color: $darker-pink;
  }
}

.setting-link {
  display: flex;
  height: 60px;
  align-items: center;
  text-align: center;
  padding: 0 10px 5px 10px;
  margin-top: 10px;
  border-bottom: 1px solid $dark-blue;
  border-radius: 5px;
  h2 {
    margin-top: 15px;
    font-size: 17px;
    margin-bottom: 0;
  }
}

