.profile-picture {
  display:flex;
  justify-content:center;
}

.upload-profile-picture {
  display:flex;
  align-items:center;
}

.avatar {
  border-radius: 50%;
}

.avatar-lg {
  margin-top: 20px;
  width: 150px;
  height: 150px;
}


.btn-photo {
  background-color: rgba(255,255,255,0.6);
  font-size: 13px;
  color: $dark-blue;
  padding: 5px 30px;
  border-radius: 5px;
  border: 1px solid $dark-blue;
  &:hover{
    background-color: $dark-blue;
    color: white;
  }
}

.profile-info {

  h1{
  font-style: $headers-font;
  font-size: 20px;
  }

  p{
    font-style: $body-font;
  }
}
