<div class="text-center confirm-messages">
  <i class="fa fa-check-circle fa-2x booking-checked"></i>
  <p>Booking confirmed!</p>
  <%= link_to user_path(current_user) do %>
    Go to my bookings
  <% end %>
</div>