.row-tab {
  :last-child {
      border-bottom: none;

  }
}

.booking-wrap {
  display: flex;
  width: calc(100vw - 50px);
  border-bottom: 1px solid $medium-gray;
  .booking-picture {
    display: flex;
    align-items: center;
    margin: 0 11px 0px 0px;
  }
  .booking-top {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    .booking-title {
      width: 250px;
      .booking-time-span {
        opacity: 0.7;
        text-align: left;
      }
    }
    .booking-cost {
      text-align: right;
      width: 60px;
      p {
      opacity: 0.7;

      }
    }
  }
}

.booking-list-info {
  width: 90%;
  padding-bottom: 6px;
}

.booking-list-content {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 270px;
  height: 87px;
  p {
    color: $gray;
    margin-bottom: 0;
    strong {
      opacity: 0.8;
    }
    .course-where {
      color: $dark-blue;
    }
  }
  .review-me {
    position: absolute;
    right: 0;
    bottom: 0px;
    font-size: 13px;
  }
  .booking-cancel {
    a {
      p {
        position: absolute;
        right: 0px;
        bottom: 0px;
        border-bottom:  none;
        padding-bottom: 2px;
        margin-bottom: 2px;
        text-align: right;
        color: $medium-gray;
        font-size: 13px;
      }
      &:hover {
        .fa {
        color: $darker-pink;
        }
      }
    }
  }
}
