.room-for-button {
  padding-bottom: 60px;
}

.new-booking-button {
  width: 100vw;
  height: 60px;
  z-index: 0;
  position: fixed;
  color: white;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $darker-pink;
  border: none;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  h3 {
    margin: 0;
    color: white;
    font-weight: lighter;
  }
}

.modal-dialog.center-modal-box {
  margin: 35px;
}
.modal-header {
  padding: 11px 13px;
}
.btn-confirm {
  background-color: $darker-pink;
  color: white;
}

.modal-body {
  padding: 0px 0px 20px 0px;
}
.center-modal-box {
  top: 24vh;
}

.booking-checked {
  color: green;
}

.confirmation-address {
  font-size: 15px;
}

.confirmation-date {
  font-size: 15px;
  margin: 10px 0px;
}

.confirm-button-margin {
  margin-top: 17px;
}

.submit-payment {
  text-align: center;
  .amount {
    margin: 20px 0px;
  }
}
