.historical-bookings .row {
  :last-child {
    .booking-list-content p {
      border-bottom: none;
    }
  }
}

.booking-wrap {
  padding: 0 10%;
  .booking-top {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    .booking-title {
      width: 250px;
      .booking-time-span {
        opacity: 0.7;
      }
    }
    .boooking-list-paystat {
      font-size: 12px;
    }
    .booking-cost {
      text-align: right;
      width: 60px;
    }
  }
}

.booking-list-content {
  position: relative;
  display: flex;
  flex-direction: column;
  p {
    color: $gray;
    margin-bottom: 0;
    strong {
      opacity: 0.8;
    }
    .course-where {
      opacity: 0.6;
    }
  }
  .review-me {
    position: absolute;
    right: 0;
    bottom: 10px;
    font-size: 20px;
    color: $red;
  }
  .booking-cancel {

    p {
      border-bottom: 1px solid $medium-gray;
      margin-bottom: 2px;
      text-align: right;
      font-size: 15px;
      color: $dark-gray;
    }
  }
}
