.course-cards-container {
  padding: 0;
}

#render_courses > :nth-child(odd) .course-color {
  background-color: white;
  z-index: -1;
}

.course-card {
  display: flex;
  margin: 0px 7px;
  padding: 10px 5px;
  .studio-picture{
    width: 125px;
    height: 125px;
    background: gray;
    background-size: cover;
    flex: 0 0 auto;
  }
  &:hover{
    transform: scale(1.05, 1);
    box-shadow: 2px 2px 2px #888;
  }
}

.info {
  flex: 1 0 auto;
  bottom: 0px;
  color: #2b6a8c;
  height: 125px;
  padding: 0 10px;
  position: relative;
  .spots {
    position: absolute;
    bottom: 22px;
    right: 5px;
    color: #7b7b7b;
    font-weight: 300;
    font-size: 13px;
    .fa {
      font-size: 12px;
    }
  }

  .distance {
    .fa {
      font-size: 12px;
    }
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #7b7b7b;
    font-weight: 300;
    font-size: 13px;
  }

  .course-price {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
    color: black;
    font-weight: 500;
  }
}

.course-title {
  font-size: 17px;
  margin-top: 12px;
  margin-bottom: 6px;
}

.course-times {
  margin: 0px;
  font-size: 14px;
  color: black;
}

.thumbnail > img {

}

.studio-title {
  font-size: 12px;
}

.studio-card-title {
  font-size: 15px;
  margin: 0px;
}

.level {
  font-size: 12px;
  margin-bottom: 0px;
  margin: 0px 0 -0.5px;
}

.heart-red {
  color: #DE5379;
  position: absolute;
  left: 19px;
  top: 21px;
}
.heart-grey {
  color: white;
  position: absolute;
  left: 19px;
  top: 21px;
}

