.course-description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  background-color: white;
}

.category-image {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 25px;
    max-height: 20px;
    opacity: 0.6;
  }
}

.category-description {
  font-size: 13px;
}

.class-description {
  background-color: white;
  padding: 1px 5% 20px 5%;
  p {
    margin: 0;
    font-size: 15px;
    display: block;
  }
}
.classes-heading-small {
  font-size: 17px;
}
