.filter-container {
  display:flex;
  justify-content: space-around;
  font-size: 13px;
}

.tab-content {
  height: 70px;
  margin: 0px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.days-container {
  display:flex;
  justify-content:space-around;
}

.chosen-filters-container {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 4px 4px 0px 4px;
  .fa {
    padding-right: 4px;
    color: $light-gray;
  }
}

.chosen-filters {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2px;
  position:relative;
  margin-top: 5px;
  margin-bottom: 0;
  .chosen-item {
    // background-color: rgba(255,255,255,0.7);
    background-color: rgba(222,83,121,0.8);
    color: white;
    border: 1px solid $pink;
    font-size: 13px;
    margin-bottom: 5px;
  }
  .pending {
    background-color: rgba(222,83,121,0.4);
    border: none;
    color: $light-gray;
  }
  p {
    top: 50%;
    margin-right: 5px;
    padding: 2px 7px;
    border: 1px solid $dark-gray;
    border-radius: 10px;
  }
}

#category-tab {
  margin-bottom: 5px;
  height: 80px;
  .category-buttons-container {
    overflow: auto;
    width: 100vw;
    height: 83px;
    margin-top: -5px;
    padding-top: 10px;
    display: flex;
    .button-category {
      flex-shrink: 0;
      height: 65px;
      width: 70px;
      margin-right: 8px;
      border-radius: 7px;
      background: rgba(255, 255, 255, 0.2);
      // border: 1px solid yellow;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .category-button-image {
        width: 30px;
        height: 30px;
        opacity: 0.8;
      }
      .category-text {
        font-size: 11px;
        color: rgba(0, 0, 0, 0.8);
        padding: 0;
        margin: 0;
        margin-top: 8px;
      }
    }
  }
}

.filter-wrapper {
  background-color: $dark-blue;
  padding-top: 49px;
}

.distance-container {
  display:flex;
  align-items: center;
  p {
    color: white;
    margin: 10px 10px;
  }
}

.price_cents-container {
  display:flex;
  align-items: center;
  p {
    color: white;
    margin: 10px 10px;
  }
}
.tooltip-arrow {
  opacity: 0.7;
}
.tooltip-inner {
  opacity: 0.7;
}

.search-buttons-container {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  li {
    border-right: 1px solid rgba(255,255,255,0.3);
  }
  li:last-child {
    border-right: none;
  }
}

.search-tab-button {
  color: white;
  width: 12vw;
  height: 25px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:active, &:hover {
    color: $darkest-blue;
  }
}
