<div class="profile-main-info text-center">
  <%= simple_form_for (user) do |f| %>
    <%= f.input :photo, as: :attachinary, label: false %>
    <%= f.submit "Update Photo", class: "btn btn-photo" %>
  <% end %>
</div>
