
<div class="row">
  <div class="col-sm-1 col-md-12">
    <div class="card">
      <img src="http://www.studio89fitness.com/images/background/6.jpg" alt="studio">
      <h4 class="distance">3.5 km</h4>
      <p class="course-price">45€</p>
      <div class="info">
        <h3 class="course-title">Crossfit Beginner II</h3>
        <div class="studio-title">
          <h4>Studio 89</h4>
        </div>
        <div class="star-ratings-css-small">
          <div class="star-rating-css-top" style = "width: 100%;">
            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
          </div>
          <div class="star-rating-css-bottom">
            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
          </div>
        </div>
        <p>Sept. 12th, 8:00am - 9:00am</p>
      </div>
    </div>
  </div>
</div>
