
<div class="row">
  <div class="col-sm-1 col-md-4">
    <div class="card">
      <img src="http://www.studio89fitness.com/images/background/6.jpg" alt="studio">
      <p class="course-price">$45</p>
      <div class="info">
       <h3 class="course-title">Crossfit Beginner II</h3>
       <div class="studio-title">
         <h4>Studio 89</h4>
       </div>
       <p>3.5 km</p>
       <p>Sept. 12th, 8:00am - 9:00am</p>
     </div>
   </div>
 </div>
</div>
