<!-- <div class="stars">
  <div class="star-ratings-css">
     <div class="star-rating-css-top" style = "width: <%= course.average_rating.to_f %>%;">
      <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
    </div>
    <div class="star-rating-css-bottom">
      <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
    </div>
  </div>
</div> -->

<!-- Implementing font awesome stars -->
<% avg = course.average_rating %>
<% if avg >= 4.8 && avg <= 5 %>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
<% elsif avg >= 4.3 && avg <= 4.7 %>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star-half-o"></i>
<% elsif avg >= 3.8 && avg <= 4.2%>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star-o"></i>
<% elsif avg >= 3.3 && avg <= 3.7 %>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star-half-o"></i>
  <i class="fa fa-star-o"></i>
<% elsif avg >= 2.8 && avg < 3.2 %>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star-o"></i>
  <i class="fa fa-star-o"></i>
<% elsif avg >= 2.3 && avg <= 2.7 %>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star-half-o"></i>
  <i class="fa fa-star-o"></i>
  <i class="fa fa-star-o"></i>
<% elsif avg >= 1.8 && avg <= 2.2 %>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star-o"></i>
  <i class="fa fa-star-o"></i>
  <i class="fa fa-star-o"></i>
<% elsif avg >= 1.3 && avg <= 1.7 %>
  <i class="fa fa-star"></i>
  <i class="fa fa-star-half-o"></i>
  <i class="fa fa-star-o"></i>
  <i class="fa fa-star-o"></i>
  <i class="fa fa-star-o"></i>
<% elsif avg >= 0.8 && avg <= 1.2 %>
  <i class="fa fa-star"></i>
  <i class="fa fa-star-o"></i>
  <i class="fa fa-star-o"></i>
  <i class="fa fa-star-o"></i>
  <i class="fa fa-star-o"></i>
<% elsif avg >= 0.3 && avg <= 0.7 %>
  <i class="fa fa-star-half-o"></i>
  <i class="fa fa-star-o"></i>
  <i class="fa fa-star-o"></i>
  <i class="fa fa-star-o"></i>
  <i class="fa fa-star-o"></i>

<% else %>
  <p> No Reviews </p>
<% end %>





