<div class="stars">
  <div class="star-ratings-css">
    <div class="star-rating-css-top" style = "width: <%= @course.average_rating.to_f %>%;">
      <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
    </div>
    <div class="star-rating-css-bottom">
      <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
    </div>
  </div>
</div>


