<div class="blue-banner" style="background: linear-gradient(-225deg, rgba(36, 149, 191,0.6) 0%, rgba(30, 62, 119,0.8) 50%); height: 5vh;">
  <%= @date_words %> - <%= @course.start_time.strftime ("%l:%M %P") %>
  <div class="prices">
    <% cost_amount = @course.cost %>
    <% if cost_amount - cost_amount.to_i == 0 %>
    <%= cost_amount.to_i %> <i class="fa fa-euro"></i>
    <% else %>
    <%= @course.cost%> <i class="fa fa-euro"></i>
    <% end %>
  </div>
</div>
