<div class="banner" style="background-image: linear-gradient(-225deg, rgba(50,50,50,0.5) 0%, rgba(0,0,0,0.6) 50%), url('<%= image_path 'alexis' %>');">
  <div class="banner-content">
  <%= render 'shared/sidenavbar' %>
  <div class="header-home">
    <h1 class="fit">Stay Fit </h1>
    <h1 class="flex">Be Flexible</h1>
    </div>
    <p>Book high quality sports classes at low short-term drop-in pirces</p>

    <div class="buttons">
      <div class="round-button">
        <div>
          Today
        </div>
      </div>
      <div class="round-button">
        <div>
          Tomorrow
        </div>
      </div>
      <div class="round-button">
        <div>
          Next 7 Days
        </div>
      </div>
    </div>


    <%#= link_to "Book your Desk now!", coffeeshops_path, class: "btn-red"%>
  </div>
</div>
