<div class="banner" style="background-image: linear-gradient(-225deg, rgba(50,50,50,0.5) 0%, rgba(0,0,20,0.6) 50%), url('<%= image_path 'alexis' %>');">
  <div class="container visible-xs">
    <div class="banner-content">
      <div class="header-home">
        <h1 class="fit-small">Stay Fit </h1>
        <h1 class="flex-small">Be Flexible</h1>
      </div>
      <p>Book high quality sports classes at low short-term drop-in pirces</p>

      <div class="row">
        <!-- <div class="button-column"> -->
        <div class="col-xs-4 col-xs-offset-4 ">
          <div class="round-buttons small-button">
            Today
          </div>
        </div>
        <div class="col-xs-4 col-xs-offset-4 visible-xs">
          <div class="round-buttons small-button">
            Tomorrow
          </div>
        </div>
        <div class="col-xs-4 col-xs-offset-4 visible-xs">
          <div class="round-buttons small-button">
            Next 7 <br>Days
          </div>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
  <div class="container hidden-xs">
    <div class="banner-content-large">
      <div class="header-home large-header">
      <h1 class="fit-large">Stay Fit </h1>
        <h1 class="flex-large">Be Flexible</h1>
      </div>
      <p>Book high quality sports classes at low short-term drop-in pirces</p>

      <div class="row">

        <div class="col-sm-3 col-sm-offset-3 hidden-xs">
          <div class="round-buttons large-button">
            Today
          </div>
        </div>
        <div class="col-sm-3 hidden-xs">
          <div class="round-buttons large-button">
            Tomorrow
          </div>
        </div>
        <div class="col-sm-3 hidden-xs">
          <div class="round-buttons large-button">
            Next 7 <br>Days
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- <div class="container">
      <div class="row button-row">
      </div>
    </div> -->

<!--     <div class="buttons">
      <div class="round-button">
        <div>
          Today
        </div>
      </div>
      <div class="round-button">
        <div>
          Tomorrow
        </div>
      </div>
      <div class="round-button">
        <div  id="day-button">
          Next 7 <br> Days
        </div>
      </div>
    </div> -->


    <%#= link_to "Book your Desk now!", coffeeshops_path, class: "btn-red"%>
  </div>
