<div class="banner" style="background-image: url('<%= image_path 'Fitflex_home_big' %>');">
  <div class="container visible-xs">
    <div class="banner-content-small">
      <!-- <div class="header-home"> -->
     <!--    <h1 class="fit-small">Stay Fit </h1>
        <h1 class="flex-small">Be Flexible</h1>
      </div> -->
      <p>Choose when you want to start your next course</p>
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4 ">
          <div class="round-buttons small-button">
            Today
          </div>
        </div>
        <div class="col-xs-4 col-xs-offset-4 visible-xs">
          <div class="round-buttons small-button">
            Tomorrow
          </div>
        </div>
        <div class="col-xs-4 col-xs-offset-4 visible-xs">
          <div class="round-buttons small-button">
            Next 7 <br>Days
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container hidden-xs">
    <div class="banner-content-large">
      <div class="header-home large-header">
        <h1 class="fit-large">Stay Fit </h1>
        <h1 class="flex-large">Be Flexible</h1>
      </div>
      <p>Book high quality sports classes at low short-term drop-in pirces</p>

      <div class="row">

        <div class="col-sm-3 col-sm-offset-2 hidden-xs">
          <div class="round-buttons large-button">
            Today
          </div>
        </div>
        <div class="col-sm-3 hidden-xs">
          <div class="round-buttons large-button">
            Tomorrow
          </div>
        </div>
        <div class="col-sm-3 hidden-xs">
          <div class="round-buttons large-button">
            Next 7 <br>Days
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
