<div class="studio-address-map">
  <div class="studio-info">
    <h4 class="classes-heading-small">The Studio</h4>
    <p class="studio-address"><strong> <%= @course.studio.name %> </strong></br> <%= @course.studio.address %></p>
  </div>

  <p class="studio-address"> <%= @json_distance%> away</p>

</div>


