<div class="course-instructor">
  <h4 class="classes-heading-small">
    Meet your instructor
  </h4>
  <div class="instructor-content">
    <%= cl_image_tag @course.instructor.cld_id, class: "profile-picture-medium " %>
    <div class="instructor-name">
      <%= @course.instructor.first_name %>
    </div>
  </div>
</div>
