<%= render 'courses/filter_search' %>

<%#= render 'courses/course_list' %>

<!-- <div id="render_courses"> -->
  <%#= render 'course_list', courses: @courses %>
<!-- </div> -->

<!-- <div id="render_courses"> -->
  <%# @courses.each do |cs| %>
    <%#= link_to course_path(cs), class: 'card' do %>
      <%#= render 'courses/course_card', course: cs %>
    <%# end %>
  <%# end %>
<!-- </div> -->
