.avatar-xs {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.avatar-xxs {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.avatar-medium {
  border-radius: 50%;
  width: 65px;
  height: 65px;
}

.facebook-avatar-background {
  background-size: cover;
  background-position: center center;
}

.profile-picture-medium {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
}
