// * {
//   border: 1px solid yellow;
// }

.course-banner{
  padding-left: 5%;
  height: 20vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  .course-banner-title {
    color: white;
    // font-weight: 300;
  }
}

.blue-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  font-weight: 500;
  color: white;
}

.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 110px;
  position: relative;
  padding: 0;
}

.course-show-title {
  // margin-top: 12px;
}

.studio-image-show {
  height: 30vh;
  width: 100%;
}

