.banner {
  top: 0;
  left: 0;
  position: fixed;
  color: white;
  height: 100vh;
  width: 100%;
  background-size: cover !important;
  display: flex;
  justify-content: center;
  background-position: center top;
  z-index: 0;
}
.header-home {
  margin-top: 75px;
}
.banner-content-small{
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.banner-content-large{
  height: 90vh;
}

.banner h1 {
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.fit-small {
  font-size: 30px;
  margin-left: 10%
}
.flex-small {
  margin-top: 0;
  margin-left: 20%;
  font-size: 30px;
}
.fit-large {
  margin-left: 10%;

}
.flex-large {
  margin-top: 0;
  margin-left: 20%;
  font-size: 40px;
}

.banner p {
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  // margin-bottom: 20px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  padding: 10px 50px;
}

.course-banner{
  padding-left: 5%;
  height: 20vh;
  background-position: center;
  display: flex;
  flex-direction: column;
  h3 {
    color: white;
  }
}

.blue-banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  font-weight: 500;
  color: white;
}





