.historical-bookings .row {
  :last-child {
    .booking-list-content p {
      border-bottom: none;
    }
  }
}

.booking-top {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;

  .booking-title {
    width: 250px;
  }
 .booking-cost {
    text-align: right;
    width: 60px;
  }
}

.booking-list-content {
  p {
    border-bottom: 1px solid $medium-gray;
    color: $gray;
    strong {
      opacity: 0.8;
    }
  }
}

.booking-time-span {
  opacity: 0.7;
}

.course-where {
  opacity: 0.6;
}
