.historical-bookings .row {
  :last-child {
    .booking-list-content p {
      border-bottom: none;
    }
  }
}

.booking-top {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;

  .booking-title {
    width: 250px;
  }
 .booking-cost {
    text-align: right;
    width: 60px;
  }
}

.booking-list-content {
  p {
    border-bottom: 1px solid $medium-gray;
    color: $gray;
    strong {
      opacity: 0.8;
    }
  }
  position: relative;
}

.booking-time-span {
  opacity: 0.7;
}

.course-where {
  opacity: 0.6;
}

.review-me {
  position: absolute;
  right: 0;
  bottom: 10px;
  font-size: 20px;
  color: $red;
}
