.historical-bookings .row {
  :last-child {
    .booking-list-content p {
      border-bottom: none;
    }
  }
}

.booking-top {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;

  .booking-title {
    width: 250px;
  }
 .booking-cost {
    width: 60px;
  }
}

.booking-list-content {
  p {
    border-bottom: 1px solid $gray;
  }
}


