// Added a class for DRY
.button-search-options {
  border: 1px solid rgba(255, 255, 255,0.5);
  background-color: rgba(255, 255, 255,0.5);
  border-radius: 3px;
  &:hover {
    background-color: rgba(250,250,250,0.5);
  }
  p {
    margin: 0;
  }
}

.bookmark-btn {
  border: 0;
  background: none;

  &:focus {
    outline: 0;
  }
}

.button-day {
  height: 49px;
  margin: 0 8px;
  padding: 5px 15px;
}

.button-level {
  height: 49px;
  margin: 0 5px;
  padding: 5px 10px;
  p {
    font-size: 16px;
  }
}

.button-distance {
  margin: 0 5px;
  padding: 5px 10px;
  p {
    font-size: 19px;
  }

}

.button-back {
  text-decoration: none;
  color: white;
  font-size: 30px;
  position: absolute;
  top: 100px;
  opacity: 0.6;
}

// Home buttons
.home-buttons-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
}

.search-day-button {
  border: 2px solid white;
  width: 30vw;
  max-width: 110px;
  height: 30vw;
  max-height: 110px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(200, 200, 200,0.2);
  &:hover{
    background-color: rgba(250,250,250,0.5);
  }
}

.button-top-bottom-margin {
  margin: 20px 0;
}

.call-to-action-button {

  padding: 5px;
  // border: 2px solid $dark-blue;
  // border-radius: 5px;
  width: 75%;
  color: black;
  margin: 0 5px;
}

.border-right-cta {
   border-right: 1px solid $dark-gray;
}

