.button-column{
  // display: flex;
  // flex-direction: column;
  // justify-content: space-around;
  // height: 60vh;
}

.round-buttons {
  border: 1px solid $pink;
  text-align: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 96, 107,0.1);
  &:hover{
    background-color: rgba(255,96,107,0.5);
  }
}
.small-button{
  margin: 15px 0;
  width: 100px;
  height: 100px;
  font-size: 16px;
}
.large-button {
  font-size: 33px;
  width: 200px;
  height: 200px;
}


// .round-button {
//   width: 100px;
//   margin: auto;
// }
// .round-button:after {
//   content: "";
//   display: block;
//   width: 100%;
//   height: 0;
//   padding-bottom: 100%;
//   border-radius: 50%;
//   border: 1px solid $pink;
//   background-color: rgba(255, 96, 107, 0.1);
// }

// .round-button div {
//   float:left;
//   width:100%;
//   padding-top:50%;
//   line-height:1em;
//   margin-top:-0.5em;
//   text-align:center;
//   color:white;
// }

// #day-button {
//   padding-top: 43%;
// }
// padding: 50px;
// border-radius: 50%;
// border: 1px solid $pink;
// background-color: rgba(255, 96, 107, 0.1);
// width: 40px;
// height: 40px;
// margin: auto;
// }
// *{
//   border: 1px solid red;
// }
