// .cards {
//   padding: 0;
// }

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}
#render_courses > :nth-child(even) .course-color {
  background-color: white;
}
.course-card {
  display: flex;
  margin: 0px 7px;
  padding: 10px 5px;
  border-bottom: 1px solid #bebebe;
  .studio-picture{
    img {
    display: block;
    width: 125px;
    height: 125px;
    }
  }
}

.info {
  flex: 1 0 auto;
  bottom: 0px;
  color: #2b6a8c;
  height: 125px;
  padding: 0 10px;
  position: relative;
  .spots {
    position: absolute;
    bottom: 22px;
    right: 5px;
    color: #7b7b7b;
    font-weight: 300;
    font-size: 13px;
    .fa {
      font-size: 12px;
    }
  }
  .distance {
    .fa {
      font-size: 12px;
    }
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #7b7b7b;
    font-weight: 300;
    font-size: 13px;
  }
  .course-price {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
    color: $dark-blue;
    font-weight: 500;
  }
}


.course-title {
  font-size: 17px;
  margin-top: 12px;
  margin-bottom: 6px;

}
.course-times {
  margin: 0px;
  font-size: 14px;
}
.thumbnail > img {

}
.studio-title {
  font-size: 12px;
}
h4 {
  font-size: 15px;
  margin: 0px;
}
.star {
  display: inline;
  text-decoration: none;
}

.star-ratings-css-small {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 18px;
  height: 25px;
  width: 90px;
  position: relative;
  padding: 0;
  z-index: -1;

  .star-rating-css-top {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .star-rating-css-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }
}
.level {
  font-size: 12px;
  margin-bottom: 0px;
  margin: 0px 0 -0.5px;
}

