.row {

}
.card {
  position: relative;
  margin: 2px 5px;
  padding: 10px 5px;
  // box-shadow: 1px 1px 2px #a2a2a2;
  border-bottom: 1px solid #bebebe;
  img {
    display: block;
    width: 135px;
    height: 130px;
    margin-left: 0px;
    margin-right: auto;
  }
}

.course-price {
  font-size: 16px;
  position: absolute;
  bottom: 14px;
  right: 10px;
  color: $dark-blue;
  font-weight: 500;
}

h3 {
  font-size: 17px;
  margin-top: 12px;
  margin-bottom: 6px;

}
p {
  margin: 0px;
  font-size: 10px;
}
.thumbnail > img {

}
.info {
  position: absolute;
  bottom: 14px;
  left: 149px;
  color: #2b6a8c;
}
.studio-title {
  font-size: 15px;
  margin-bottom: 22px;

}
h4 {
  font-size: 15px;
  margin: 0px;
}
.star {
  display: inline;
  text-decoration: none;
}
.distance {
  position: absolute;
  bottom: 124px;
  right: 10px;
  color: #7b7b7b;
  font-weight: 300;
}
.star-ratings-css-small {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 18px;
  height: 25px;
  width: 110px;
  position: relative;
  padding: 0;
  z-index: -1;

  .star-rating-css-top {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .star-rating-css-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }
}

