// .cards {
//   padding: 0;
// }
.card {
  position: relative;
  margin: -12px 5px;
  padding: 10px 5px;
  // box-shadow: 1px 1px 2px #a2a2a2;
  border-bottom: 1px solid #bebebe;
  img {
    display: block;
    width: 135px;
    height: 130px;
    margin-left: 0px;
    margin-right: auto;
  }
}

.course-price {
  font-size: 16px;
  position: absolute;
  bottom: 9px;
  right: 10px;
  color: $dark-blue;
  font-weight: 500;
}

.course-title {
  font-size: 17px;
  margin-top: 12px;
  margin-bottom: 6px;

}
.course-times {
  margin: 0px;
  font-size: 12px;
}
.thumbnail > img {

}
.info {
  position: absolute;
  bottom: 0px;
  left: 149px;
  color: #2b6a8c;
  height: 96%;
}
.studio-title {
  font-size: 15px;
}
h4 {
  font-size: 15px;
  margin: 0px;
}
.star {
  display: inline;
  text-decoration: none;
}
.distance {
  position: absolute;
  bottom: 56px;
  right: 10px;
  color: #7b7b7b;
  font-weight: 300;
  font-size: 13px;

}
.star-ratings-css-small {
  color: #e9a30a;
  font-size: 18px;
  height: 25px;
  width: 103px;
  position: relative;
  padding: 0;
  z-index: -1;
}
.level {
  font-size: 12px;
  margin-bottom: 0px;
  margin: 0px 0 -0.5px;
}
// .fa {
//   color: #ebc307;
// }

