.filter-container {
  display:flex;
  justify-content: space-around;
  font-size: 13px;
}

.tab-content {
  height: 70px;
  margin: 5px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.days-container {
  display:flex;
  justify-content:space-around;
}

.chosen-filters-container {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 4px 4px 0px 4px;
  .fa {
    padding-right: 4px;
    color: $light-gray;
  }
}

.chosen-filters {
  display:flex;
  justify-content: flex-start;
  vertical-align: middle;
  font-size: 11px;
  height: 30px;
  display: flex;
  width: 100%;
  position:relative;
  margin-top: 5px;
  .chosen-item {
    // background-color: rgba(255,255,255,0.7);
    background-color: rgba(222,83,121,0.8);
    color: white;
    border: 1px solid $pink;
    height: 20px;
  }
  p {
    top: 50%;
    margin-right: 5px;
    padding: 2px 7px;
    border: 1px solid $dark-gray;
    border-radius: 10px;
  }
}

#category-tab {
  margin-bottom: 5px;
  height: 80px;
}

.swiper-wrapper {
  height: 30px;
}

.swiper-container {
  width: 100%;
  margin: 3px auto;
  height: 60px;
}

.swiper-slide {
  width: 70px;
  margin-left: 7px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  img {
    height: 70%;
    }
  &:hover{
  background-color: rgba(250,250,250,0.5);
  }
}

.category-text p{
  font-size: 10px;
  padding: 0px;
  margin: 0px;
}

.filter-wrapper {
  background-color: $dark-blue;
}
.nav-tabs {
  background-color: transparent !important;
  border: transparent;
  border-bottom: 1px solid rgba(255,255,255,0.6);
  // border-bottom-color: rgba(255,255,255,0.6);
  a {
  font-size: 17px;
  color: white;
  background-color: transparent !important;
  }
  display: flex;
  justify-content: space-around;
}
.nav-tabs > li.active, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: white;
  background-color: transparent !important;
  border: none !important;
  border: transparent;
  border-bottom-color: transparent;
  font-weight: 600;
  font-size: 19px;
}
.nav-tabs > li > a {
  border: none !important;
  padding: 2px 4vw;
}





