.review {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  font-size: 15px;
  color: black;

}
.review-content {
  max-width: 65%;
  flex-grow: 1;
}

.review-rating {
  display: flex;
  font-size: 9px;
}
