.course-reviews{
  padding: 1px 0px 10px 0px;
  color: white;
  z-index: 0;
  position: relative;
}

.review-header{
  padding-left: 50px;
  color: white;
}

.review {
  padding: 10px 0px;
  font-size: 15px;
  // color: black;
  width:10px;
}

.review-content {
  max-width: 60%;
  flex-grow: 1;
}

.user-review-image {
  flex: 0 0 auto;
}

.review-rating {
  display: flex;
  font-size: 9px;
  align-items: center;
  color: #E9A30A;
}

.inner-review {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  &:nth-child(odd) {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
  }
  &:nth-child(even) {
    padding-top: 10px;
    padding-bottom: 15px;
  }
  &:last-child {
    border-bottom: none;
  }

}

.user_name_review {
  font-size: 12px;
}

.review_title {
  font-weight: 500;
}

.sw-pa {
  bottom: 0 !important;
  filter: grayscale(100%) brightness(2);
}

