.sidenav {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 2;
  top: 0;
  right: -220px;
  background-color: rgba(0,0,0,0.8);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  h1, h2 {
    margin: 3px;
    text-align: center;
    color: $light-gray;
  }
  h1 {
    font-size: 16px;
    font-weight: 500;
  }
  h2 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .user-info {
    img {
      margin-bottom: 5px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .user-nav {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    .nav-social-media  {
      display: flex;
      align-items: center;
      justify-content: space-around;
      a {
        padding: 0px 5px;
      }
      .fa {
        font-size: 30px;
      }
    }
  }
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #b5b5b5;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 15px;
  right: 22px;
  font-size: 28px;
}

.mobile-nav-item {
  display: flex;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
