.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  // width: 110px;
  padding: 0;

  .star-rating-css-top {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .star-rating-css-bottom {
    padding: 0;
    display: block;
    z-index: 0;
    width: 100%;
  }
}
.stars{
  position: relative;
  width: 110px;
}
